/** navbar **/

.navbar {
    position: relative;
    display: block;
    flex-direction: row;
    width: 103%;
    height: 60px;
    margin-top: -8px;
    margin-left: -10px;
    background-color: #011837;
    border-top: 3px solid #7e0c1e;
}

.navbar ul li {
    list-style: none;
    float: right;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 7px 29px;
    padding-top: 2px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.navbar ul li:hover {
    font-size: 24px;
    padding: 7px 8px;
    padding-top: 2px;
}

.navbar ul a img {
    float: left;
    box-align: left;
    height: 40px;
    width: 45px;
    padding-top: 0px;
    margin-top: -5px;
}

.navbar .search input {
    float: right;
    padding: 5px;
    margin-right: 18 px;
    margin: 0px 10px;

}


/** body **/ 

.info-box {
    width: 40%;
}

.robcol-img {
    width: 100%;
}

.container img {
    height: 350px;
    width: 250px;
    margin: 20px;
    margin-top: 0px;
    float: right;
    margin-right: 60px;
    border-radius: 15px 50px;
    border-width: 4px;
    border-style: solid;
    border-color: #7e0c1e;
    margin-top: 20px;
    display: block;
    
}

 .col-3 {
    height: 100px;
    margin: 5px;
    border: none;
 }

.container .col .right-side-info {
    height: 100px;
    margin: 5px;
    border: none;
    padding-left: 150px;
}


 iframe {
    width: 600px;
    height: 500px;
    margin: 30px;
    margin-left: 100px;
    margin-top: 130px;
    float: left;
    border-color: #011837;
    border-radius: 15px 50px;
    border-width: 4px;
    border-style: solid;
    border-color: #000000;
}

.container .col-3 h3 {
    padding-left: 80px;
    padding-top: 80px;
    color: #7e0c1e;
    padding-bottom: 15px;
    width: 200px;
    margin-right: 10px;
}

.container .col-3 {
    display: block;
    float: left;
}
.container .col-3 p {
    padding-left: 55px;
    width: 200px;
    margin-right: 10px;
}

.container .right-side-info {
    display: block;
    padding: 30px;
    padding-top: 5px;
    float: right;
    padding-top: 143px;
}

.container hr {
    width: 50%;
    margin-left: 10px;
}



/**** mobile ****/ 
@media screen and (max-width: 680px) {
    .navbar ul li {
        display: block;
    }

    .navbar {
        background-position: 105%;
    }




}