body {
    background-color: #c0ffd9;
}


.index_header nav {
    font-family: monospace;
    font-size: 30px;

    background-color: antiquewhite;
    /*color: #ff6a32;*/
    position: relative;
    bottom: -17px;
    /*background: #fff;*/
    /*padding-right: ;*/
    display: inline-block;
    margin: 0 0 0 350px;
}

.index_header nav a {
    text-decoration: none;
    color: #ff6dab;
}

.index_header nav a:visited {
    text-decoration: none;
    color: #ff6dab;
}