*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Canela Deck Web";
}

body{
    background: rgb(212, 212, 212);
}

ul{
    text-decoration: none;
}

a{
    text-decoration: none;
}

b{
    font-weight: 900;
    color: white;
}

#navbar{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: rgb(5, 24, 53);
    border-top: 2px solid #7e0c1e;
    position: fixed;
    box-shadow: 0px 2px 6px 0px rgb(29, 29, 29);
}

#navlist li{
    display: inline;
    padding: 0 5px;
    color: rgb(225, 225, 225);
    font-size: 22px;
    transition: .2s ease-in-out;
    margin: 0px 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(219, 219, 219);
}

#navlist li:hover{
    color:white;
    text-decoration: underline;
}

#DSC{
    width: 60px;
    height: 30px;
    position: absolute;
    left: 15px;
    background-color: #7e0c1e;
}

.active{
    font-style: bold;
    border-color: #7e0c1e;
}

.container{
    width: 100%;
    height: 100vh;
}

.mid-section{
    margin: auto;
    width: 60%;
    background: rgb(221, 221, 221);
    border: 2px solid rgb(175, 175, 175);
}   

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background:rgb(228, 228, 228);
    padding-top: 50px;
    border-bottom:  2px solid rgb(175, 175, 175);
}

.content:nth-child(1){
    padding-top: 130px;
}

.content img{
    padding: 20px 0px;
    height: 200px;
}

.content h2{
    font-size: 38px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.content h3, p{
    color: rgb(0, 0, 0);
    padding: 0px 120px;
    padding-bottom: 10px;
    font-size: 20px;
}

/* styling search bar */
.search{
    background-color: #ffffff;
    background: transparent;
}

    
.search input[type=text]{
        width:250px;
        height:25px;
        border-radius:25px;
        border: transparent;
    }
          
.search{
        float:right;
        margin:7px;
    }
          