*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background: rgba(193, 197, 218, 0.8);
}
ul{
    text-decoration: none;
}

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgb(119, 8, 8);
    border-top: 4px solid rgb(30, 0, 139);
    box-shadow: 2px 2px 0px 5px;
}

#navlist li{
    display: inline;
    padding: 0 20px;
    color: white;
    font-size: 35px;
}